nav {
  border-bottom: 4px solid black;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1.5rem 2rem;
}

nav a:hover {
  background: black;
  color: white;
}